name: "Update Brasileirão Data"
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch: {}
permissions:
  contents: write
jobs:
  update-data-job:
    name: "Update Brasileirão Data"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.6'
          cache: 'pip'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run python script
        run: python brasileirao_2026.py
#      - name: Upload file as artifact
#        uses: actions/upload-artifact@v3
#        with:
#          name: job-result
#          path: brasileirao_2023.txt
      - name: Commit and push changes
        run: |
          git config user.name "lfkopp"
          git config user.email "lfkopp@gmail.com"
          git add .
          if git diff --staged --quiet; then
            echo "No changes detected. Working tree is clean."
          else
            git commit -m "feat:Automated Brasileirão data update"
            git push
          fi
